.bir{
    display: flex;
    justify-content: space-evenly;
    border: 2px;
}
.ikki{
    text-align: center;
    margin: auto;
    margin-top: 50px;
}
.uch{
    width: 558px;
    height: 452px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tor{
    width: 558px;
    height: 452px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ota2{  
     justify-content: space-evenly;
     display: flex;
     color: white;
     margin-top: 100px;
}
.besh{
    display: flex;
    justify-content: space-evenly;
    border: 2px;
    margin-top: 50px;
}